<div class="container body-content span=8 offset=2">
    <div class="form-group">
        <img src="/stylesheets/error404.png" alt="error404" class="error-cool" id="errorImg">
    </div>
        <div class="form-group">
        <h1 class="error-text-cool">Page Not Found!</h1>
        <h2 class="error-secondtext-cool">The page you requested does not exist.</h2>
        </div>
</div>
<!-- You can make this look better  -->