
<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/user/adminAdd">
            <fieldset>
                <legend>Add Admin</legend>
                <h5>Here you can change a user to an Admin.</h5>
                <div class="form-group">

                    <div class="clearfix"></div>
                    <p align="center" style="color:red;">{{errorMsgForAdminAdd}}</p>
                    <p align="center" style="color:#009933;">{{successMsgForAdminAdd}}</p>
                    <div class="input-group col-md-8" style="margin-left: 16%">
                        <input type="text" class="form-control" id="email" placeholder="Add Admin" required name="email">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-block">Add Admin</button>
                        </span>
                    </div>

                    <div class="bot-border"></div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
        </form>

        <form class="form-horizontal" method="POST" action="/user/userDelete">
            <fieldset>
                <legend>Delete User</legend>
                <h5>Here you can delete a user that is not an Admin.</h5>
                <div class="form-group">

                    <div class="clearfix"></div>
                    <p align="center" style="color:red;">{{errorMsgForUserDelete}}</p>
                    <p align="center" style="color:blueviolet;">{{successMsgForUserDelete}}</p>
                    <div class="input-group col-md-8" style="margin-left: 16%">
                        <input type="text" class="form-control" id="email" placeholder="Delete User" required name="email">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-block">Delete User</button>
                        </span>
                    </div>

                    <div class="bot-border"></div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
