
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(nicEditors.allTextAreas);
</script>

<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/user/adminAdd">
            <fieldset>
                <legend>Add Admin</legend>

                <div class="form-group">

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <br>
                    <p style="color:red;">{{error}}</p>
                    <input type="text" class="form-control" id="email" placeholder="Add Admin" required name="email">
                    <div class="bot-border"></div>
                    <button type="submit" class="btn btn-success btn-block">Add Admin</button>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
