
<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/user/adminAdd">
            <fieldset>
                <legend>Add Admin</legend>

                <div class="form-group">

                    <div class="clearfix"></div>
                    <br>

                    <p style="color:red;">{{error}}</p>
                    <div class="input-group col-md-8" style="margin-left: 16%">
                        <input type="text" class="form-control" id="email" placeholder="Add Admin" required name="email">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-block">Add Admin</button>
                        </span>
                    </div>

                    <div class="bot-border"></div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
