body {
    padding-top: 70px;
    background-size: cover;
    background-image: url(1511.jpg);
    background-repeat: no-repeat;
}

.navbar-cool {
    background-color: #3e7996;
}
.btn-cool {
    background-color: #3e7996;
    color: #e4f8e3;
}
.btn-cool:hover {
    color: #3e7996;
    background-color: #e4f8e3;
    border-color: #98b5bd;
}
.font-color {
    color: #e4f8e3;
}
.font-color-next {
    color: #3a5875;
}
.well {
    background: #abc6ce;
    margin-left: 13%;
}
.list-group-item-cool {
    font-size: medium;
    border-color: #3e7996;
}
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

article{
    background-color: #abc6ce;
    padding: 40px;
    margin: 10px auto;
    border: 2px solid white;
    border-bottom-style: dashed;
    border-radius: 4px;
}
.sectionMain {
    background-color: #3e7996;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #3e7996;
    border-radius: 1px;
}
.replyMain {
    background-color: #789b9c;
    padding: 40px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 100px;
}
h2, h3, p, em{
    color: #3e7996;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;}

.tital {
    font-size:16px; font-weight:500;
}
.bot-border {
    border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0
}
h4{
    color: #000000;
}

.error-cool{
    display: block;
    margin: auto;
}
#errorImg {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 
}
.error-text-cool{
    display: block;
    font-size: 28px;
    text-align: center;
    color: #3e7996;
}
.error-secondtext-cool{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #3e7996;
}
.discussion-title{
    color: #3e7996;
    text-align: center;
    line-height: 0.1;
}
.content{
    font-size: 22px;
    margin-top: 35px;
}
.author-cool{
    text-align: right;
    font-size: 90%;
    line-height: 2.4;
    color: #2c3e50;
}



