body {
    padding-top: 70px;
    background-size: cover;
    background-image: url(1511.jpg);
    background-repeat: no-repeat;
}

.navbar-cool {
    background-color: #3e7996;
}
.font-color {
    color: #e4f8e3;
}
.font-color-next {
    color: #3a5875;
}
.well {
    background: #abc6ce;
    margin-left: 13%;
}
.input-group-btn-double {
    shape-margin: 50%;
}
.list-group-item-cool {
    font-size: medium;
}

article{
    background-color: #16191d;
    padding: 40px;
    margin: 10px auto;
    border: 2px solid black;
    border-bottom-style: dashed;
    border-radius: 1px;
}
.tactical_cont{
    background: #22282f url(content-bg.png) repeat 0 0;
    padding: 8px;
    border: 1px solid #282f38;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 1px;
}
.sectionMain {
    background-color: #16191d;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #282f38;
    border-radius: 1px;
}
h2, h3, p, em{
    color: white;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;}
.tital {
    font-size:16px; font-weight:500;
}
.bot-border {
    border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0
}



