<div class="container body-content span=8 offset=2">
    <div class="well col-lg-9">
        <form class="form-horizontal" method="POST" action="/discussion/create">
            <fieldset>
                <div class="form-group col-md-12">
                    <h2 class="font-color-next">New Discussion</h2>
                    <br/>
                    
                    <div class="col-sm-12">
                        <h3 class="font-color-next">Discussion Title</h3>
                        <input maxlength="70" type="text" class="form-control" id="discussionTitle" placeholder="Discussion Title" name="title" required>

                        <h3 class="font-color-next">Content</h3>
                        <em class="font-color-next">(Optional)</em>
                        <textarea maxlength="2000" class="form-control" id="discussionContent" name="content" rows="5" value=""></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="submit" class="btn btn-cool   ">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
