<div class="container body-content span=8 offset=2">
    <div class="well col-lg-9">
        <form class="form-horizontal" method="POST" action="/discussion/edit/{{id}}">
            <fieldset>
                <div class="form-group col-md-12">
                    <h2 class="font-color-next">Edit Discussion</h2>
                    <br>

                    <div class="col-sm-12">
                        <h3 class="font-color-next" for="discussionTitle">Article Title</h3>

                        <input type="text" class="form-control" id="discussionTitle" placeholder="Discussion Title" value="{{title}}" name="title" required >
                        <h3 class="font-color-next" for="discussionContent">Content</h3>
                        <textarea class="form-control" id="discussionContent" name="content" rows="5">{{content}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="/" class="btn btn-default">Cancel</a>

                        <button type="submit" href="/discussion/edit/{{id}}" class="btn btn-cool">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
