<div class="container">
  {{#if error}}
    <h2 style="color:red; text-align:center">{{error}}</h2>
  {{/if}}
  <div class="jumbotron" style="border: double; border-color: #3e7996">
    <h1 class="text-center font-cool">Hackerman Forum</h1>
      <br>
      <p>The Hackerman Forum is a place where all nerds and plebs talk about random stuff in their everyday routine. If you are looking for a place on the web to waste your time, look no further!</p>
      <p>Everyone is welcome here!</p>
      {{#unless user}}
      <h3 style="padding-left: 27%">
          What are you wating for?! <a style="color: #4eb184;" href="/user/register">Sign up</a> now!
      </h3>
      {{/unless}}
  </div>
</div>