<div class="container body-content">
    <div class="row">
        {{#each discussions}}
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <small class="author">
                        {{this.author.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/discussion/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
                <br>
                <br>
                <hr>
            </div>
        {{/each}}
    </div>
</div>
