<div class="container">
  <div class="jumbotron">
    <h1>Hackerman Forum</h1> 
    <p>The Hackerman Forum is a place where all nerds and plebs talk about random stuff in their everyday routine. If you are looking for a place on the web to waste your time, look no further!</p>
    <p>Everyone is welcome here!</p>
  </div>
</div>