<div class="container body-content">
    <div class="row">
        <br>
        <br>
            <div class="col-md-7">
                <div class="list-group">
                    {{#each discussions}}
                        <a href="/discussion/details/{{this.id}}" class="list-group-item-cool" style="color: #3a5875">{{this.title}}</a>
                    {{/each}}
                </div>
            </div>
    </div>
</div>
