<div class="container">
    <div class="row">
        <br>

        <!--First Contact here-->
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #3e7996">
                    <h4 class="text-center" style="color: #e4f8e3">angel_arsov@students.softuni.bg</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/16832124_717455475088408_3753032054343601564_n.jpg?oh=c687a0ab262976c7c46bc24ec1639819&oe=5982643C" id="profile-image1" class="img-circle img-responsive">
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h1 style="color:#00b1b1;">Angel</h1>
                                <h3 style="color:#4669b1;"> Admin</h3>
                            </div>

                            <br>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 ">Angel Arsov</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >GitHub:</div>
                            <div class="col-sm-7 col-xs-6 "><a href="https://github.com/angel-arsov" target="_blank">angel-arsov</a></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">27-11-1996</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Bulgarian</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Some Info:</div><div class="col-sm-7"><!--something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Second Contact here-->
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #3e7996">
                    <h4 class="text-center" style="color: #e4f8e3">Nik321@students.softuni.bg</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11825121_433238990213338_8497757370556872551_n.jpg?oh=1f0b0058f2a3ff47a0e26deaf3619348&oe=59857E1D" id="profile-image1" class="img-circle img-responsive">
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h1 style="color:#00b1b1;">Nikola</h1>
                                <h3 style="color:#4669b1;"> Admin</h3>
                            </div>

                            <br>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 ">Nikola Ivanov</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >GitHub:</div>
                            <div class="col-sm-7 col-xs-6 "><a href="https://github.com/Nik4321" target="_blank">Nik4321</a></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">02-05-1997</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Bulgarian</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Some Info:</div><div class="col-sm-7"><!--something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Third Contact here-->
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #3e7996">
                    <h4 class="text-center" style="color: #e4f8e3">Bobi2000@students.softuni.bg</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/s960x960/15994537_1248364691878701_8039495185112710157_o.jpg?oh=a9f77253e57e15c8e418aeaa849766ef&oe=5979DC30" id="profile-image1" class="img-circle img-responsive">
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h1 style="color:#00b1b1;">Bobi</h1>
                                <h3 style="color:#4669b1;"> Admin</h3>
                            </div>

                            <br>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 ">Borislav Petkov</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >GitHub:</div>
                            <div class="col-sm-7 col-xs-6 "><a href="https://github.com/Bobi2000" target="_blank">Bobi2000</a></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">21-05-2000</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Bulgarian</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Some Info:</div><div class="col-sm-7"><!--something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
