<div class="container">
    <div class="row">
        <br>

        <!--First Contact here-->
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center" style="color: #4669b1">Random text</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                    <input id="profile-image-upload" class="hidden" type="file">
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h1 style="color:#00b1b1;">Angel</h1>
                                <h3 style="color:#4669b1;"> Admin</h3>
                            </div>

                            <br>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 ">Angel Arsov</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >GitHub:</div>
                            <div class="col-sm-7 col-xs-6 "><a href="https://github.com/angel-arsov">angel-arsov</a></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">27-11-1996</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Bulgarian</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Some Info:</div><div class="col-sm-7"><!--something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Second Contact here-->
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center" style="color: #4669b1">Random text</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                    <input id="profile-image-upload" class="hidden" type="file">
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h1 style="color:#00b1b1;">Nikola</h1>
                                <h3 style="color:#4669b1;"> Admin</h3>
                            </div>

                            <br>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 ">Nikola Ivanov</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >GitHub:</div>
                            <div class="col-sm-7 col-xs-6 "><a href="https://github.com/Nik4321">Nik4321</a></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7"><!--Put something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Bulgarian</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Some Info:</div><div class="col-sm-7"><!--something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Third Contact here-->
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center" style="color: #4669b1">Random text</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                    <input id="profile-image-upload" class="hidden" type="file">
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h1 style="color:#00b1b1;">Bobi</h1>
                                <h3 style="color:#4669b1;"> Admin</h3>
                            </div>

                            <br>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 ">Borislav Petkov</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >GitHub:</div>
                            <div class="col-sm-7 col-xs-6 "><a href="https://github.com/Bobi2000">Bobi2000</a></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7"><!--Put something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Bulgarian</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Some Info:</div><div class="col-sm-7"><!--something here--></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
